/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.dashboard {
  display: flex;
}

.dashboard-container{
  max-width: fit-content;
  background-color: #ffffff;
}

.sidebar {
  width: 240px;
  background-color: #ffffff;
  padding:0 10px 0 0;
}


.sidebar h2 {
  font-size: 1.5rem;
  color: #7e57c2;
  background-color:#faf0ff ;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0 10px 10px 10px;
  margin: 0;
}

.sidebar li {
  margin: 15px 0;
  color: #5c6bc0;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 20px;
}

header {
  background-color: #f3e5f5;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

header h2 {
  margin: 0;
  color: #7e57c2;
  background-color:#faf0ff ;
}

.charts {
  display: flex;
  gap: 20px;
}

.chart-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}
